<%#= form_for @order_item do |f| %>

<!--    <div class="column is-three-fifths">-->
      <%#= f.hidden_field :product_id, value: product.id %>
<!--      <%#= f.number_field :quantity, class: "input" %> <br><br>-->
<!--    </div>-->
<!--    <div class="column is-one-fifth">-->
      <%#= f.button image_tag("plus.png", :alt => "plus"), class: "plus-button", remote: true %>
<!--    </div>-->

<%# end %>

<% @products.each do |product| %>
  <div class="row columns">
    <div class="column is-two-fifths">
      <span class="product-label"><%= product.name %></span>
      <%= number_to_currency product.price %>
    </div>

      <%= form_for @order_item do |f| %>
        <div class="column quantity-field">
          <%= f.hidden_field :product_id, value: product.id %>
          <%= f.number_field :quantity, class: "input" %>

          <%= f.button image_tag("plus.png", :alt => "plus"), class: "plus-button", remote: true %>
        </div>
      <% end %>
  </div>
<% end %>